{% load static %}
<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static "fonts/feather/feather.css" %}"  />
    <link rel="stylesheet" href="{% static "libs/flatpickr/dist/flatpickr.min.css" %}" />
    <link rel="stylesheet" href="{% static "libs/quill/dist/quill.core.css" %}" />
    <link rel="stylesheet" href="{% static "libs/highlightjs/styles/vs2015.css" %}" />

    <!-- Map -->
    <link href="../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Theme CSS -->

    <link rel="stylesheet" href="{% static "css/theme.min.css"%}"  id="stylesheetLight">
    <link rel="stylesheet" href="{% static "css/theme-dark.min.css" %}" id="stylesheetDark">
    <!-- Title -->
    <title>Diksha</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156446909-1"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-156446909-1");</script>
  </head>
  <body class="align-items-center bg-auth border-top border-top-2 border-primary">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><strong style="margin-left:20px;">Diksha Portal</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="margin-left:20px;">
        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'SponsorProfile' %}">Sponsors</a>
        <a class="nav-item nav-link" href="{% url 'EducationProfile' %}">Education <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">About Us</a>
      </div>
    </div>
  </nav><br><br><br><br>
  <div class="container">
  <div class="card">
  <div class="card-header">
    <div class="md-col-4 md-dark ">
      <h2><strong>Children Profile</strong></h2>
    </div>
  </div>
  <div class="card-body">
  <form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom05"><strong>Children Code -</strong></label>
      <label for="validationCustom05">{{data.code}}</label>
      </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom01"><strong>Date of Entry</strong></label>
      <label for="validationCustom01">{{data.Date_of_entry}}</label>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom05"><strong>Join date of diksha</strong></label>
      <label for="validationCustom05">{{data.Join_date_of_diksha}}</label>
    </div>
  </div>
</div>
</form>
</div>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Children Name : </strong></label>
    <label for="validationCustom05">{{data.Child_Fname}}</label>
  </div>

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Surname : </strong></label>
    <label for="validationCustom05">{{data.Child_Lname}}</label>
  </div>

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Date Of Birth : </strong></label>
    <label for="validationCustom05">{{data.Date_of_birth}}</label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Father Name : </strong></label>
    <label for="validationCustom05">{{data.Father_name}}</label>
  </div>

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Mother Name : </strong></label>
    <label for="validationCustom05">{{data.Mother_name}}</label>
  </div>

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Contact Number : </strong></label>
    <label for="validationCustom05"></label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Caste : </strong></label>
    <label for="validationCustom05">{{data.Caste}}</label>
  </div>

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Relegion : </strong></label>
    <label for="validationCustom05">{{data.Relegion}}</label>
  </div>

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Siblings :</strong></label>
    <label for="validationCustom05">{{data.Siblings}}</label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">

  <div class="col-md-6 mb-3">
    <label for="validationCustom05"><strong>Needs of Child : </strong></label>
    <label for="validationCustom05">{{data.Need_of_child}}</label>
  </div>
  <div class="col-md-2 mb-3">
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Children Came Diksha :</strong></label>
    <label for="validationCustom05">{{data.Children_came_diksha}}</label>
  </div>
  </div>
</div>
</form>
<div class="card-header">
  <div class="md-col-4 md-dark ">
    <h2><strong>Education Details</strong></h2>
  </div>
</div>
<div class="card-body">

    <div class="md-col-4 md-dark">
      <h3><strong>School Details :</strong></h3>
    </div><br>
<form class="needs-validation" novalidate>
<div class="form-row">
  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>School Name : </strong></label>
    <label for="validationCustom05">{{education.School_Name}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Class :</strong></label>
    <label for="validationCustom05">{{education.Class}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Board : </strong></label>
    <label for="validationCustom05">{{education.Board}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Medium : </strong></label>
    <label for="validationCustom05">{{education.Medium}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Type: </strong></label>
    <label for="validationCustom05">{{education.Type_of_school}}</label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">

  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Level Of School : </strong></label>
    <label for="validationCustom05">{{education.Level_of_school}}</label>
  </div>
  <div class="col-md-1 mb-3">
  </div>
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Child Studying From : </strong></label>
    <label for="validationCustom05">{{education.Child_studying_from}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Hostel :</strong></label>
    <label for="validationCustom05">{{education.Hostel}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Hostel Fees : </strong></label>
    <label for="validationCustom05">{{education.Hostel_Fees}}</label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
  <div class="md-col-4 md-dark">
    <h3><strong>College Details :</strong></h3>
  </div><br>
<form class="needs-validation" novalidate>
<div class="form-row">

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>College Name : </strong></label>
    <label for="validationCustom05">{{education.College_Name}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Course :</strong></label>
    <label for="validationCustom05">{{education.Course}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Year : </strong></label>
    <label for="validationCustom05">{{education.Semeste}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>University : </strong></label>
    <label for="validationCustom05">{{education.University}}</label>
  </div>
  <div class="col-md-2 mb-3">
  </div>
  </div>
</div>
</form>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>College Type : </strong></label>
    <label for="validationCustom05">{{education.Type_of_College}}</label>
  </div>
  <div class="col-md-1 mb-3">
  </div>

  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Accomodation : </strong></label>
    <label for="validationCustom05">{{education.Accomodation}}</label>
  </div>
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Accomodation Fees :</strong></label>
    <label for="validationCustom05">{{education.Fees_for_accomodation}}</label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
  <div class="md-col-4 md-dark">
    <h2><strong>Sponsor Details :</strong></h2>
  </div><br>
<form class="needs-validation" novalidate>
<div class="form-row">
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Sponsor Name : </strong></label>
    <label for="validationCustom05">{{sponsor.Fname}}</label>
  </div>
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Sponsor Surname :</strong></label>
    <label for="validationCustom05">{{sponsor.Sname}}</label>
  </div>
  <div class="col-md-2 mb-3">
    <label for="validationCustom05"><strong>Nationality : </strong></label>
    <label for="validationCustom05">{{sponsor.Nationality}}</label>
  </div>
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Sponsorship For : </strong></label>
    <label for="validationCustom05">{{sponsor.Sponsorship_for}}</label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">
  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Address : </strong></label>
    <label for="validationCustom05"></label>
  </div>
  <div class="col-md-2 mb-3">
  </div>
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Email :</strong></label>
    <label for="validationCustom05"></label>
  </div>
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Contact Number : </strong></label>
    <label for="validationCustom05"></label>
  </div>
  </div>
</div>
</form>
<div class="card-body">
<form class="needs-validation" novalidate>
<div class="form-row">
  <div class="col-md-4 mb-3">
    <label for="validationCustom05"><strong>Names of Sponsor Kids : </strong></label>
    <label for="validationCustom05"></label>
  </div>
  <div class="col-md-2 mb-3">
  </div>
  <div class="col-md-3 mb-3">
    <label for="validationCustom05"><strong>Scheme of Donation:</strong></label>
    <label for="validationCustom05">{{sponsor.Scheme_of_donation}}</label>
  </div>
  <div class="col-md-3 mb-3">
  </div>
  </div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
    <script src="{% static "libs/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "libs/%40shopify/draggable/lib/es5/draggable.bundle.legacy.js" %}"></script>
    <script src="{% static "libs/autosize/dist/autosize.min.js" %}"></script>
    <script src="{% static "libs/chart.js/dist/Chart.min.js" %}"></script>
    <script src="{% static "libs/dropzone/dist/min/dropzone.min.js"%}"></script>
    <script src="{% static "libs/flatpickr/dist/flatpickr.min.js"%}"></script>
    <script src="{% static "libs/highlightjs/highlight.pack.min.js"%}"></script>
    <script src="{% static "libs/jquery-mask-plugin/dist/jquery.mask.min.js"%}"></script>
    <script src="{% static "libs/list.js/dist/list.min.js"%}"></script>
    <script src="{% static "libs/quill/dist/quill.min.js"%}"></script>
    <script src="{% static "libs/select2/dist/js/select2.full.min.js"%}"></script>
    <script src="{% static "libs/chart.js/Chart.extension.js"%}"></script>
    <script src="{% static "api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"%}"></script>
    <script src="{% static "js/theme.min.js"%}"></script>
    <script src="{% static "js/dashkit.min.js"%}"></script>
  </body>
</html>
